.btn {
    padding: 12px 14px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-primary {
    color: #eeedff;
}
.btn-thin-border {
    border: 3px solid #7888f3;
    transition: all 150ms ease-in-out;
}

.btn-thin-border:hover {
    background-color: #292936;
}